* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #7a0000, #b11226);
  color: #fff;
}

/* Top bar */
.topbar {
  height: 60px;
  background: rgba(0,0,0,0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
.burger{
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin-right: 15px;
}
.logo {
  font-size: 22px;
  font-weight: bold;
}

.user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user button {
  padding: 6px 14px;
  border-radius: 999px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: #8b0000;
  font-weight: bold;
}

/* Layout */
.layout {
  display: flex;
  min-height: calc(100vh - 60px);
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: rgba(255,255,255,0.08);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.sidebar a {
  padding: 12px 14px;
  border-radius: 10px;
  cursor: pointer;
  opacity: 0.9;
}

.sidebar a:hover,
.sidebar a.active {
  background: rgba(255,255,255,0.2);
}

.sidebar.hidden {
    transform: translateX(-100%);
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
}

.subtitle {
  opacity: 0.85;
  margin-bottom: 25px;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 16px;
}

.card h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.value {
  font-size: 22px;
  font-weight: bold;
}

.value.good {
  color: #9effb0;
}

/* History */
.history {
  margin-top: 40px;
}

.history ul {
  list-style: none;
  padding: 0;
}

.history li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}

a {
    text-decoration: none;
    color: inherit;
}

.tab-section {
  display: none;
}

.tab-section.active {
  display: block;
}

.tab {
  padding: 12px 16px;
  border: none;
  background: var(--blood-red);
  color: #000000;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: #0000003d 0 0 10px;
}

.tab.active,
.tab:hover,
.tab-active:hover {
 transform: translateX(10px);
 transition: 0.3s ease;
 background: rgba(255, 255, 255, 0.938);
}